<div class="container-positioning">
    <div class="content-container">
        <div class="content">
            <h2>
                <span>Job Preparation Resources</span>
            </h2>
            <div class="row">
                <div class="col-sm-12">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                                   name="currentSearch" placeholder="Search">
                            <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                                <fa-icon [icon]="'search'"></fa-icon>
                            </button>
                            <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span><h5>Professional Attire</h5></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><h6><a href="https://www.menswearhouse.com/giving-back">Men's Warehouse National Suit Drive</a></h6></td>
                    </tr>
                    <tr>
                        <td><h6><a href="https://www.jailstojobs.org/need-a-suit-these-organizations-will-give-you-one-and-more/">Need a suit? These organizations will give you one - and more</a></h6></td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th><span><h5>Resumes Builders and Tips</h5></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td><h6><a href="https://www.gotresumebuilder.com/">Resume Builder</a></h6></td>
                    </tr>
                    <tr>
                        <td><h6><a href="https://www.resume.com/">Resume.com</a></h6></td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th><span><h5>Interview Training</h5></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><h6><a href="https://careerwise.minnstate.edu/exoffenders/find-job/interview-tips-ex-offenders.html">Interview Tips for Ex-offenders></h6></td>
                    </tr>
                    <tr>
                        <td><h6><a href="https://www.monster.com/career-advice/article/criminal-history-job-interview-1126">How to Address Your Criminal History in a Job Interview</a></h6></td>
                    </tr>
                    <tr>
                        <td><h6><a href="https://www.hirefelons.org/job-interviews-for-felons/">How to Prepare for a Job Interview</a></h6></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
