<div class="container-positioning">
    <div class="content-container">
        <div class="content">
            <h2>
                <span>Re-entry Program Search</span>
            </h2>
            <div class="row">
                <div class="col-sm-12">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                                   name="currentSearch" placeholder="Search">
                            <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                                <fa-icon [icon]="'search'"></fa-icon>
                            </button>
                            <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <div class="table-responsive" *ngIf="programs">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span><h5>Program Title</h5></span></th>
                        <th><span><h5>Program Desc</h5></span></th>
                        <th><span><h5>Program State</h5></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let program of programs ;trackBy: trackId">
                        <td><h6><a [href]=program.programLink>{{program.programTitle}}</a></h6></td>
                        <td><h6>{{program.programDesc}}</h6></td>
                        <td><h6>{{program.programState}}</h6></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
