<div class="container-positioning">
    <div class="content-container">
        <div class="content c1">
            <h2>
                <span routelink="job">Felony Expungement</span>
            </h2>
            <h6>
            Depending on the state that you live in you may have the option to have your criminal record expunged or sealed. In the end it really does not matter if your felony is either expunged or sealed. The only notable advantage to an expungement is that it opens the door to certain government jobs.
            </h6>
            <button routerLink="job" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Learn more</button>

        </div>
    </div>

   <div class="content-container">
        <div class="content c1">
            <h2>
                <span routelink="job">Know your legal rights</span>
            </h2>
            <h6>
                It can be a daunting task to get back on your feet and find work after being released from prison. However, many quality companies across the nation hire workers with criminal backgrounds to assist with reintegration into their communities. Our database allows you to easily locate these jop openings in your area and get in direct contact with hiring managers. If you would like assistance building your resume before applying to a job, please visit our Resources page.
            </h6>
            <button routerLink="job" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Legal Resources</button>

        </div>
    </div>






