<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="job">
            <h2><span>Job</span> {{job.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Job Title</span></dt>
                <dd>
                    <span>{{job.jobTitle}}</span>
                </dd>
                <dt><span>Job Link</span></dt>
                <dd>
                    <span>{{job.jobLink}}</span>
                </dd>
                <dt><span>Job Desc</span></dt>
                <dd>
                    <span>{{job.jobDesc}}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <span>{{job.company}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{job.city}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job', job.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
