<div class="container-positioning">
    <div class="content-container">
        <div class="content c1">
            <h2>
                <span routelink="job">Finding a Job</span>
            </h2>
            <h6>
                It can be a daunting task to get back on your feet and find work after being released from prison. However, many quality companies across the nation hire workers with criminal backgrounds to assist with reintegration into their communities. Our database allows you to easily locate these jop openings in your area and get in direct contact with hiring managers. If you would like assistance building your resume before applying to a job, please visit our Resources page.
            </h6>
            <button routerLink="job" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Search for Jobs</button>

        </div>
    </div>


    <div class="content-container">
        <div class="content c2 right">
            <h2>
                <span>Reentry Programs</span>
            </h2>
            <h6>
                Find reentry programs near you to help you concentrate on adjusting to life on the outside. Many programs offer short term housing, job assistance and often have other spiritual and therapy aspects within the program.
            </h6>
            <button routerLink="program" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">View Programs</button>
        </div>

        <div class="content c2 left">
            <h2>
                <span>Resources</span>
            </h2>
            <h6>
                Browse services that provide professional
                attire, interview training, resume templates
                and tips, and online training to make the best
                impression during your job search.
            </h6>
            <button routerLink="interview-resources" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">View Resources</button>
        </div>
    </div>

</div>




