<div class="container-positioning">
    <div class="content-container">
        <div class="content c1">
            <h2>
                <span>Finding a Job</span>
            </h2>
            <h6>
                Many quality companies across the nation hire workers with criminal backgrounds to assist with
                reintegration into their communities. To search for jobs in your area, select a state, the radius of
                your
                search, a field in which you have relevant skills, and a company from the dropdowns below.
            </h6>
            <button>View Jobs</button>

        </div>
    </div>


    <div class="content-container">
        <div class="content c2 right">
            <h2>
                <span>Reentry Programs</span>
            </h2>
            <h6>
                Find reentry programs near you to assist you as you transition from prison to a fulfilling life.
            </h6>
            <button>View Programs</button>
        </div>

        <div class="content c2 left">
            <h2>
                <span>Resources</span>
            </h2>
            <h6>
                Browse services that provide professional
                attire, interview training, resume templates
                and tips, and online training to make the best
                impression during your job search.
            </h6>
            <button>View Resources</button>
        </div>
    </div>

</div>




