/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
}
.container-positioning {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 20px;
    color: #353d47;
}
h6 {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0rem;
}
h5 {
    font-size: 12px;
    margin-bottom: 0rem;
    font-weight: normal;
}
.content-container {
    width: 60%;
}
.content {
    padding: 4% 4%;
    margin: 2% 1% 0% 1%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #777678;
    min-height: 230px;
}
.flex {
    display: flex;
}
a {
    color: inherit;
}
a:hover {
    color: #30c1d2;
}

.c1 {
    position: relative;
    width: 98%;
}
.c2 {
    position: relative;
    width: 48%;
}

.right {
    float: right;
}
.left {
    float: left;
}

button {
    position: absolute;
    bottom: 14%;
    background-color: #30c1d2;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    border: none;
    padding: 5px 10px;
    width: 150px;
    transition: all 0.1s ease-in-out;
}
button:hover {
    background-color: #353d47;
}
