<div class="container-positioning">

   <div class="content-container">
        <div class="content c1">
            <h2>
                <span routelink="job">Financial Advice</span>
            </h2>
            <h6>
                Conduct your own research using our resource links. There are many loans for small businesses, scholarships, and grants that exist to aid former convicts as they rebuild their lives. Don't forget to browse advice on budgeting, financial planning and long-term goals, and handling taxes. 
            </h6>

             <div class="table-responsive" *ngIf="jobs">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span><h5>Job Title</h5></span></th>
                        <th><span><h5>Job Desc</h5></span></th>
                        <th><span><h5>Company</h5></span></th>
                        <th><span><h5>City</h5></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let job of jobs ;trackBy: trackId">
                        <td><h6><a [href]=job.jobLink>{{job.jobTitle}}</a></h6></td>
                        <td><h6>{{job.jobDesc}}</h6></td>
                        <td><h6>{{job.company}}</h6></td>
                        <td><h6>{{job.city}}</h6></td>
                    </tr><h6></h6>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
